body {
  --e-global-color-primary: #12223b;
  --e-global-color-secondary: #e9f7fe;
  --e-global-color-text: #667282;
  --e-global-color-accent: #ffb703;
  --e-global-color-4271826: #ffffff;
  --e-global-color-17c0fac: #12223b30;
  --e-global-color-f6d07ed: #ffffff20;
  --e-global-typography-primary-font-family: "Manrope", sans-serif;
  --e-global-typography-text-font-family: "DM Sans", sans-serif;
}
